@define-color borders_breeze #bbbdbe;
@define-color content_view_bg_breeze #ffffff;
@define-color error_color_backdrop_breeze #e74c3c;
@define-color error_color_breeze #e74c3c;
@define-color error_color_insensitive_backdrop_breeze #f6b4ad;
@define-color error_color_insensitive_breeze #f6b4ad;
@define-color insensitive_base_color_breeze #f4f4f4;
@define-color insensitive_base_fg_color_breeze #acaeb0;
@define-color insensitive_bg_color_breeze #e1e1e1;
@define-color insensitive_borders_breeze #d1d2d2;
@define-color insensitive_fg_color_breeze #a0a2a4;
@define-color insensitive_selected_bg_color_breeze #e1e1e1;
@define-color insensitive_selected_fg_color_breeze #a0a2a4;
@define-color insensitive_unfocused_bg_color_breeze #e1e1e1;
@define-color insensitive_unfocused_fg_color_breeze #a0a2a4;
@define-color insensitive_unfocused_selected_bg_color_breeze #e1e1e1;
@define-color insensitive_unfocused_selected_fg_color_breeze #a0a2a4;
@define-color link_color_breeze #4c6b8a;
@define-color link_visited_color_breeze #913d88;
@define-color success_color_backdrop_breeze #3498db;
@define-color success_color_breeze #3498db;
@define-color success_color_insensitive_backdrop_breeze #a4d3f0;
@define-color success_color_insensitive_breeze #a4d3f0;
@define-color theme_base_color_breeze #ffffff;
@define-color theme_bg_color_breeze #ececec;
@define-color theme_button_background_backdrop_breeze #ececec;
@define-color theme_button_background_backdrop_insensitive_breeze #e1e1e1;
@define-color theme_button_background_insensitive_breeze #e1e1e1;
@define-color theme_button_background_normal_breeze #ececec;
@define-color theme_button_decoration_focus_backdrop_breeze #1abc9c;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #9bd1c7;
@define-color theme_button_decoration_focus_breeze #1abc9c;
@define-color theme_button_decoration_focus_insensitive_breeze #9bd1c7;
@define-color theme_button_decoration_hover_backdrop_breeze #1abc9c;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #9bd1c7;
@define-color theme_button_decoration_hover_breeze #1abc9c;
@define-color theme_button_decoration_hover_insensitive_breeze #9bd1c7;
@define-color theme_button_foreground_active_backdrop_breeze #292f34;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #a0a2a4;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #a0a2a4;
@define-color theme_button_foreground_backdrop_breeze #292f34;
@define-color theme_button_foreground_backdrop_insensitive_breeze #a0a2a4;
@define-color theme_button_foreground_insensitive_breeze #a0a2a4;
@define-color theme_button_foreground_normal_breeze #292f34;
@define-color theme_fg_color_breeze #292f34;
@define-color theme_hovering_selected_bg_color_breeze #1abc9c;
@define-color theme_selected_bg_color_breeze #1abc9c;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #292f34;
@define-color theme_titlebar_background_backdrop_breeze #ececec;
@define-color theme_titlebar_background_breeze #3e474e;
@define-color theme_titlebar_background_light_breeze #ececec;
@define-color theme_titlebar_foreground_backdrop_breeze #9fb9ca;
@define-color theme_titlebar_foreground_breeze #ececec;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #9fb9ca;
@define-color theme_titlebar_foreground_insensitive_breeze #9fb9ca;
@define-color theme_unfocused_base_color_breeze #ffffff;
@define-color theme_unfocused_bg_color_breeze #ececec;
@define-color theme_unfocused_fg_color_breeze #292f34;
@define-color theme_unfocused_selected_bg_color_alt_breeze #5ef1d4;
@define-color theme_unfocused_selected_bg_color_breeze #5ef1d4;
@define-color theme_unfocused_selected_fg_color_breeze #292f34;
@define-color theme_unfocused_text_color_breeze #292f34;
@define-color theme_unfocused_view_bg_color_breeze #f4f4f4;
@define-color theme_unfocused_view_text_color_breeze #acaeb0;
@define-color theme_view_active_decoration_color_breeze #1abc9c;
@define-color theme_view_hover_decoration_color_breeze #1abc9c;
@define-color tooltip_background_breeze #292f34;
@define-color tooltip_border_breeze #5c6165;
@define-color tooltip_text_breeze #f7f7f7;
@define-color unfocused_borders_breeze #bbbdbe;
@define-color unfocused_insensitive_borders_breeze #d1d2d2;
@define-color warning_color_backdrop_breeze #e67e22;
@define-color warning_color_breeze #e67e22;
@define-color warning_color_insensitive_backdrop_breeze #f5c699;
@define-color warning_color_insensitive_breeze #f5c699;
