#!/bin/sh

# Run at startup
# This file is sourced by Xresources (GDM, LightDM, all source this)
# ------------------------------------------------------------------

# Make the keyboard movements faster
xset r rate 340 50

# Touchpad necessities
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1
xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1

# Turn off laptop screen when monitor connected
hdmi_connected=$(xrandr | grep ' connected' | grep 'HDMI' | wc -l)
if [ "$hdmi_connected" -eq 1 ]; then
    eval "~/scripts/monitor_setups/monitor_only"
fi

